{{- $isHelper := hasPrefix .RelPermalink "/sections/" -}}
{{- $rawTitle := .Params.seo_title | default .Title -}}
{{- $title := cond .IsHome "AxelGamer | Minecraft, Nintendo, Roblox Videos & Free Games" (printf "%s | %s" $rawTitle site.Title) -}}
{{- $description := .Params.description | default .Params.summary | default .Description | default .Summary | default site.Params.description -}}
{{- $canonical := .Permalink -}}
{{- $imagePath := .Params.image -}}
{{- if and (not $imagePath) (eq .Type "video") .Params.video_id -}}{{- $imagePath = printf "https://i.ytimg.com/vi/%s/hqdefault.jpg" .Params.video_id -}}{{- end -}}
{{- $imagePath = $imagePath | default site.Params.ogImage -}}
{{- $image := $imagePath | absURL -}}
{{- $ogType := "website" -}}
{{- if and (eq .Type "posts") (not .IsNode) -}}{{- $ogType = "article" -}}{{- else if and (eq .Type "video") (not .IsNode) -}}{{- $ogType = "video.other" -}}{{- end -}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ $title }}</title>
<meta name="description" content="{{ $description }}">
<meta name="author" content="{{ site.Params.author }}">
<meta name="robots" content="{{ if or $isHelper .Params.noindex }}noindex,nofollow{{ else }}index,follow,max-image-preview:large{{ end }}">
<link rel="canonical" href="{{ $canonical }}">
<meta property="og:type" content="{{ $ogType }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:url" content="{{ $canonical }}">
<meta property="og:site_name" content="{{ site.Params.siteName }}">
<meta property="og:image" content="{{ $image }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
<meta name="twitter:image" content="{{ $image }}">
{{ if and (eq .Type "posts") (not .IsNode) }}<meta property="article:published_time" content="{{ .Date.Format `2006-01-02T15:04:05Z07:00` }}">{{ end }}
<link rel="icon" href="{{ site.Params.favicon | relURL }}">
<link rel="preconnect" href="https://www.youtube-nocookie.com">
<link rel="preconnect" href="https://i.ytimg.com">
<link rel="stylesheet" href="{{ `styles.css` | relURL }}">

{{ if .IsHome }}
<script type="application/ld+json">{{ dict "@context" "https://schema.org" "@type" "WebSite" "name" site.Params.siteName "alternateName" "Axel Gamer" "url" site.BaseURL "description" $description "publisher" (dict "@type" "Organization" "name" site.Params.siteName "logo" (site.Params.logo | absURL)) | jsonify | safeJS }}</script>
<script type="application/ld+json">{{ dict "@context" "https://schema.org" "@type" "CollectionPage" "name" "AxelGamer videos, articles and browser games" "description" $description "url" $canonical | jsonify | safeJS }}</script>
{{ else if and (eq .Type "posts") (not .IsNode) }}
{{ $article := dict "@context" "https://schema.org" "@type" "Article" "headline" .Title "description" $description "datePublished" (.Date.Format `2006-01-02T15:04:05Z07:00`) "dateModified" (.Lastmod.Format `2006-01-02T15:04:05Z07:00`) "mainEntityOfPage" $canonical "author" (dict "@type" "Person" "name" "Axel Gamer") "publisher" (dict "@type" "Organization" "name" site.Params.siteName "logo" (dict "@type" "ImageObject" "url" (site.Params.logo | absURL))) "image" $image }}
<script type="application/ld+json">{{ $article | jsonify | safeJS }}</script>
{{ else if and (eq .Type "video") (not .IsNode) }}
{{ $video := dict "@context" "https://schema.org" "@type" "VideoObject" "name" .Title "description" $description "thumbnailUrl" $image "embedUrl" (printf "https://www.youtube-nocookie.com/embed/%s" .Params.video_id) "url" $canonical }}
{{ with .Params.upload_date }}{{ $video = merge $video (dict "uploadDate" .) }}{{ end }}
{{ with .Params.duration }}{{ $video = merge $video (dict "duration" .) }}{{ end }}
<script type="application/ld+json">{{ $video | jsonify | safeJS }}</script>
{{ else if .IsNode }}
<script type="application/ld+json">{{ dict "@context" "https://schema.org" "@type" "CollectionPage" "name" .Title "description" $description "url" $canonical | jsonify | safeJS }}</script>
{{ end }}
